<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black !important;color: white !important;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active borderXwidth">
                <img src="assets/images/logo-society.png" height="35px" />
            </li>

            <li class="nav-item" style="margin-left:50px">
                <a class="nav-link">Gestion de stock <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link disabled">Bonjour <span style="color: orange !important">ACHOUR Nidhal</span></a>
            <a (click)="logout()" style="color: white !important" class="nav-link disabled">Déconnexion <img src="assets/images/logout-icon.png"  height="25px"></a>
        </form>
        
    </div>
</nav>