<nav class="col-md-12 d-none d-md-block bg-light sidebar" style="height:800px">
    <div class="sidebar-sticky">

        <div class="btn-group-vertical" style="margin-top: 50px; width:100%">
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="etatStock">Etat de stock</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="facture">Factures/Devis</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="produit">Produits</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="fournisseur">Fournisseurs</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="client">Clients</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="marque">Marques</button>
            <button type="button" class="btn btn-info" style="margin-top: 10px; border-radius:0rem" routerLink="parametrage">Paramétrage</button>
        </div>
    </div>
</nav>